@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800i&display=swap" rel="stylesheet');

body, html {
  height: 100%;
      /* background-color: #F9EEEE;
    background-color:  #00e5ff; */
    background-image: url("/ML-early-cans.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* radial-gradient(
    gray,
    black
  ); */
}

.field{
  background-color: rgba(240, 248, 255, 0.616);
  filter: drop-shadow(10px 10px 10px black)
}

code {
  font-family: 'Montserrat', sans-serif;
}


h2{
  text-align: center;
  margin-top: 0%;
  padding-top: 20px;
  color: rgb(24, 54, 202);
  font-weight: 900;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  filter: drop-shadow(10px 10px 10px black);
  /* text-decoration: underline; */
}
h3{
  padding-top: 15px;
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: solid;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}
Button{
  filter: drop-shadow(10px 10px 10px black);
}

/* .contained{
  
} */
/* .bg{
  background-image: url("/miller-contact-logo.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */