/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/miller-contact-logo.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

body, html {
  height: 100%;
      background-color: #F9EEEE;
    background-color:  #00e5ff;
    background-image:
    radial-gradient(
    gray,
    black
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.border-login{
  border: 10px 10px 10px 10px solid red;
}

.bg { 
  /* The image used */
  /* background-image: url("/lite-cans.jpg"); */

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  text-align: center;
  color: aliceblue;
  font-weight: 900;
  font-size: 60px;
  padding-top: 30px;
  font-family: monospace;
  filter: drop-shadow(10px 10px 4px #F6EFA6);
}
h2{
  text-align: center;
  color: rgb(64, 81, 171);
  font-weight: 900;
  font-size: 30px;
  font-family: monospace;
  /* text-decoration: underline; */
}

/* .bg{
  background-image: url("/miller-contact-logo.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */