@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800i&display=swap" rel="stylesheet');

body, html {
  height: 100%;
      /* background-color: #F9EEEE;
    background-color:  #00e5ff; */
    background-image: url("/ML-early-cans.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* radial-gradient(
    gray,
    black
  ); */
}

.field{
  background-color: rgba(240, 248, 255, 0.616);
  filter: drop-shadow(10px 10px 10px black)
}

code {
  font-family: 'Montserrat', sans-serif;
}


h2{
  text-align: center;
  margin-top: 0%;
  padding-top: 20px;
  color: rgba(62, 80, 168);
  font-weight: 900;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  filter: brightness("600%");
  /* text-decoration: underline; */
}
/* .contained{
  
} */
/* .bg{
  background-image: url("/miller-contact-logo.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */