body{
  background: rgb(15, 27, 42);
}

#navbar {
    height: 75px;
    /* overflow: hidden; */
    background-color: rgba(0, 46, 78, 0.63);
    /* padding: 90px 10px; */
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navLogo{
    margin-top: 10px;
    margin-left: 10px;
    height: 80px;
}

.homeNav{
    color: whitesmoke;
    /* margin: 0px 10px 10px 10px; */
    padding: 5px;
}

#login{
    color: rgb(179,149,50);
    margin-right: 10px;
    font-weight: 900;
}
p{
    font-weight: 900;
}

a:link {
    font-family: 'Montserrat', sans-serif;
    color: rgb(179,149,50);
  background-color: transparent; 
  text-decoration: none;
  font-weight: 700;
}

a:visited {
    color: rgb(179,149,50);
  background-color: transparent;
  text-decoration: none;
  font-weight: 900;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
  font-weight: 900;
}

a:active {
    color: rgb(179,149,50);
  background-color: transparent;
  text-decoration: underline;
  font-weight: 900;
}
.millercoors{
    margin-left: 18%;
    height: 60%;
    width: 60%;
}
h1{
    font-family: 'Montserrat', sans-serif; 
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
}
.aboutContainer{
    filter: drop-shadow(10px 10px 10px black);
    margin-top: 12%;
    margin-bottom: 7%;
    background-color: aliceblue;
    width: 70%;
    margin-left: 15%;
    /* background-color: aliceblue; */
}
.aboutText{
    font-family: 'Montserrat', sans-serif; 
    /* text-align: center; */
    margin-top: 0%;
    background-color: aliceblue;
    width: 70%;
    margin-left: 15%;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1.5px;
    line-height: 25px;
    color: black;
}
.aboutFooter{
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 50px 0px 50px 0px;
    background-color: rgba(0, 46, 78, 0.63);
}
.footer {
    margin: 50px 0px 50px 0px;
    text-align: center;
}
#footLogo{
    height: 10%;
    width: 10%;
}

@media (max-width: 450px) {
    #navbar{
        width: 375px;
        position: fixed;
    }
    .homeMenu{
        font-size: 9.5px;
        margin-right: 40px;
    }
    .footer-company-motto{
        font-size: 14px;
    }
    .footlogoDiv{
        align-content: center;
        margin-left: 30px;
    }
    .footer-company-name{
        font-size: 10px;
        margin-bottom: 0%;
    }
    .footer-links{
        font-size: 16px;
    }
    footer{
        margin-bottom: 0%;
        padding-bottom: 0%;
    }
    h1{
        font-size: 15px;
    }
    .aboutText{
        font-family: 'Montserrat', sans-serif; 
        /* text-align: center; */
        margin-top: 0%;
        background-color: aliceblue;
        width: 80%;
        /* margin-left: 15%; */
        font-weight: 700;
        font-size: 8px;
        /* letter-spacing: 1.5px; */
        /* line-height: 25px; */
        color: black;
    }
    .loginDiv{
        display: none;
    }
    #navLogo{
        display: none;
    }
}