body{
    /* background-color: #F9EEEE;
    background-color:  #00e5ff;
    background-image:
    radial-gradient(
    gray,
    black
  ); */
  background: rgb(15, 27, 42);
}
.hein{
    width: 100%;
    height: auto;
}
#navbar {
    height: 75px;
    /* overflow: hidden; */
    background-color: rgba(0, 46, 78, 0.63);
    /* padding: 90px 10px; */
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navLogo{
    margin-top: 10px;
    margin-left: 10px;
    height: 80px;
}

.homeNav{
    color: whitesmoke;
    /* margin: 0px 10px 10px 10px; */
    padding: 5px;
}

#login{
    color: whitesmoke;
    margin-right: 10px;
}

/* Container holding the image and the text */
.headerContainer {
    position: relative;
  }
  
  /* Bottom right text */
  .text-block {
    position: absolute;
    bottom: 270px;
    right: 100px;
    background-color: rgba(0, 46, 78, 0.63);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .opacity{
      float: right;
      margin-top: 20%;
      margin-left: 30%;
      /* margin-bottom: 20%; */
  }
.header{
    text-align: center;
}

.aboutFooter{
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 50px 0px 50px 0px;
    background-color: rgba(0, 46, 78, 0.63);
}
.footer {
    margin: 50px 0px 50px 0px;
    text-align: center;
}
#footLogo{
    height: 10%;
    width: 10%;
}