.posgreetDiv{
    background-color:  rgba(245, 245, 245, 0.308);
    margin-top: 75px;
    display: flex;
    padding: 50px;
    padding-left: 15%;
    align-items: center;
}
.posgreetText{
    display: grid;
    align-items: center;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    text-align: justify; 
}
.positionsDiv{
    padding: 50px;
    padding-left: 15%;
}
.modal-content{
    font-family: 'Montserrat', sans-serif;
}
#applyBtn{
    background: none;
    border: solid 1px whitesmoke;
    padding: 10px;
    color: aqua;
}
#applyBtn:hover{
    background: rgb(1, 212, 212);
    color: rgb(0, 0, 117);
}
#submitApp{
    background: rgb(186, 223, 255);
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    font-weight: bolder;
    margin-left: 4px;
}
h4{
    font-weight: bolder;
    font-size: 30px;
    text-decoration: underline;
}
li{
    line-height: 30px;
}
ol{
    font-weight: bold;
}
span{
    font-weight: bold;
    font-size: 18px;
}
h3{
    filter: drop-shadow(10px 10px 10px black);
}
#navbar {
    height: 75px;
    /* overflow: hidden; */
    background-color: rgba(0, 46, 78, 0.63);
    /* padding: 90px 10px; */
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navLogo{
    margin-top: 10px;
    margin-left: 10px;
    height: 80px;
}

.homeNav{
    color: whitesmoke;
    /* margin: 0px 10px 10px 10px; */
    padding: 5px;
}

#login{
    color: rgb(179,149,50);
    margin-right: 10px;
    font-weight: 900;
}
p{
    font-weight: 900;
}

a:link {
    font-family: 'Montserrat', sans-serif;
    color: rgb(179,149,50);
  background-color: transparent; 
  text-decoration: none;
  font-weight: 900;
}

a:visited {
    color: rgb(179,149,50);
  background-color: transparent;
  text-decoration: none;
  font-weight: 900;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
  font-weight: 900;
}

a:active {
    color: rgb(179,149,50);
  background-color: transparent;
  text-decoration: underline;
  font-weight: 900;
}

@media (max-width: 450px) {
    h1{
        font-size: 14px;
    }
    #navbar{
        width: 375px;
        position: fixed;
    }
    .homeMenu{
        font-size: 9.5px;
        margin-right: 40px;
    }
    .loginDiv{
        display: none;
    }
    #navLogo{
        display: none;
    }
}