html,
body {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100%;
  background: whitesmoke;
}
#navbar {
    height: 75px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 46, 78, 0.63);
}
.homeNav{
    color: whitesmoke;
    letter-spacing: .2px;
    padding: 5px;
}

#login{
    color: whitesmoke;
    margin-right: 10px;
}